body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0pc ;
    padding: 0px ;
    height: 1555px;
}
.top{
    display: block;
    background-color: #242222;
    /* float: right; */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden ;
    position: sticky;
    top: 0;
    border: none ;
    color:#FFFFFF !important; 
    background-color: #ff0006;
}

.nav li a {
    color: rgb(255, 255, 255) !important;
    /* float: right; */
}

.container-fluid ul{
    float: right;
}

.navbar-header img{
    margin: -12px 2px ;
}

.panel-heading,.btn-primary {
	background-color:#ff0006 !important;
    border-color:#ff0006 !important;
    
}

.box {
    padding: 33px 87px ;
}
.row{
    padding: 33px 87px ;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(190, 96, 96);
    color: white;
    text-align: center;
 }

 @media only screen and (max-width: 770px) {
    .container-fluid ul{
        display: inline-flex;
    }
    .navbar-header{
        display: NONE;
    }
    .box{
        padding: 15px 17px  ;
    }
}