body{
    margin: 0px ;
    padding: 0px ;
    font-family: Arial, Helvetica, sans-serif ;
    /* background-color: rgb(14, 110, 78) ; */
    background-image: url("../images/sign.jpg") ;
    background-repeat: no-repeat ;
    background-size: cover;
}
.container-flux{
    margin: auto ;
}
.col-md-4{
    padding: 32px 35px ;
    margin: auto ;
    margin: 0;
    position: absolute ;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white
}

h3{
    color: rgb(165, 161, 161) ; 
    text-align: center ;
}

.btn{
    letter-spacing: 0px ;
    width: 100%;
}
.button{
    float: right;
    padding: 1px ;
}
.keep label{
    color: rgb(80, 78, 78) ;
}
.keep a{
    /* letter-spacing: 2px ; */
    float: right;
    font-size: 14px ;
    margin:-15px 4px px  ;
}
    .keep a:hover{
    text-decoration: none;
    }

.need{
    /* color: rgb(150, 146, 150) ; */
    color: rgb(141, 139, 139) ;
     text-align: center ;
     bottom: 0 ;
     /* position: inherit;; */
    }
    .need a:hover{
        text-decoration: none;
    }
.term a{
        color: rgb(0, 0, 0) ;
        /* font-weight: bolder ; */
        word-spacing: 3px ;
        bottom: 0px ;
    }
    .term a:hover{
        text-decoration: none;
    }
    .error{
        font-size: 12px ;
        transition: 2s ;
        color: red ;
    }

    @media only screen and (max-width: 500px) {
        .keep{
            margin: -3px 4px ;
            font-size: 13px ;
        }
        .keep a {
            font-size: 13px ;
        }
    }

    @media only screen and (max-width: 1000px) {
        .keep{
            margin: -3px 4px ;
            font-size: 13px ;
        }
        .keep a {
            font-size: 13px ;
        }
    }